.container {
    background-color: #555e7d; 
    display: flex;
    padding-top: 12px;
    

    
  }
  button{
      background-color: aqua;
      color: black;
      border-radius: 16px;
      box-shadow: 2px black;
  } 